<mat-list>
  <h3 mat-subheader>TODO</h3>
  <span *ngFor="let task of tasks$ | async | taskFilter:false; let isEven = even;">
    <org-task
      orgHighlight
      [applicable]="isEven"
      (done)="handleDone($event)"
      [task]="task"
      [class.done]="task.done"
    ></org-task>
    <mat-divider></mat-divider>
  </span>
</mat-list>

<mat-list>
  <h3 mat-subheader>DONE</h3>
  <span *ngFor="let task of tasks$ | async | taskFilter:true; let isEven = even;">
    <org-task
      orgHighlight
      [applicable]="isEven"
      (done)="handleDone($event)"
      [task]="task"
      [class.done]="task.done"
    ></org-task>
    <mat-divider></mat-divider>
  </span>
</mat-list>

<button routerLink="create" mat-raised-button color="primary">Create task</button>

<router-outlet></router-outlet>